@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
  margin: auto ;
}

.content {
  width: 944px;
  margin: 0 auto;
}

.header {
  display: inline-flex;
  justify-content: space-between;
  height: 88px;
}

header{
  background-color: #2d303a;
  height: 88px;
  display: flex;
  align-items: center;
  width: 100%;
}

.dot{
    color : #ffffff;
}
#singolo{
  font-size: 25px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 26px;
  line-height: 20px;
}

#homebutton{
  color: #f06c64 !important;
  font-size: 12px;
  line-height: 6px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  text-align: right;
}

.menubuttons{
  cursor: pointer;
  margin: 5px;
  padding: 0px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 12px;
  line-height: 9px;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

.header menu{
  margin-top: 40px;
}

.bottom{
  width: 100%;
  height: 7px;
}

.backblack{
  background-color: #323746;
}

.backred{
  background-color: #ea676b;
}

.backgray{
  background-color: #f2f2f2;
}

.backwhite{
  background-color: #ffffff;
}
.mycontainer{
  width: 100%;
  height: 593px;
  background-color: #f06c64;
}

.anime{
  overflow: hidden;
}

.transporter{
  position: relative;
  right: 912px;
  display: flex;
  transition: transform 0.6s ease;
  width: 2736px;
  height: 600px;
}

.servises{
  background-color: #ffffff;
  display: flex;
  height: 496px;
}

.grid{
  width: 944px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 113px 113px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.cell{
  width: 300px;
  height:60px;
}

#verticalmodel{
width: 240px;
height: 490px;
margin-left: 59px;
margin-top: 51px
}

#horizontalmodel{
width: 490px;
height: 240px;
margin-left: 113px;
margin-top: 174px;
}

.sviper{
  margin-top: 282px;
}

.svipercontainer{
  width: 944px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.sensor{
  position: absolute;
  width: 35px;
  height: 27px;
  cursor: pointer;
}

#shadowhorizontal{
position: absolute;
z-index: 1;
}

#basehorizontal{
position: absolute;
z-index: 2;
}

#screenhorizontal{
margin-left: 57px;
margin-right: 63px;
margin-top: 8px;
position: absolute;
z-index: 4;
}
#offscreenhorizontal{
  position: absolute;
  margin-left: 58px;
  margin-right: 63px;
  margin-top: 10px;
  z-index: 4;
  background-color: black;
  width: 342px;
  height: 194px;
}
#speakerhorizontal{
margin-left: 420px;
margin-top: 88px;
position: absolute;
z-index: 4;
}

#buttoncirclehorizontal{
margin-top: 87px;
margin-left: 9px;
position: absolute;
z-index: 4;
}

#buttoncirclehorizontalsensor{
  cursor: pointer;
  margin-top: 87px;
  margin-left: 9px;
  position: absolute;
  z-index: 11;
  height: 40px;
  width: 40px;
}

#squarehorizontal{
position: absolute;
z-index: 5;
margin-top: 100px;
margin-left: 21px;
}

#cumcirclehorizontal{
position: absolute;
z-index: 4;
margin-top: 102px;
margin-left: 433px;
}

#reddothorizontal{
position: absolute;
z-index: 5;
margin-top: 105px;
margin-left: 435px;
}

#shadowvertical{
position: absolute;
z-index: 1;
}

#basevertical{
position: absolute;
z-index: 2;
}

#screenvertical{
position: absolute;
z-index: 4;
margin-left: 8px;
margin-top: 62px;
}

#offscreenvertical{
  position: absolute;
  margin-left: 10px;
  margin-top: 62px;
  z-index: 3;
  background-color: black;
  width: 194px;
  height: 342px;
}

#buttoncirclevertical{
position: absolute;
z-index: 4;
margin-left: 88px;
margin-top: 410px;
}
#buttoncircleverticalsensor{
  position: absolute;
  z-index: 6;
  margin-left: 88px;
  margin-top: 410px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

#squarevertical{
position: absolute;
z-index: 5;
margin-top: 422px;
margin-left: 100px;
}

#speakervertical{
position: absolute;
z-index: 4;
margin-left: 90px;
margin-top: 36px;
}

#cumcirclevertical{
position: absolute;
z-index: 4;
margin-top: 17px;
margin-left: 104px;
}

#reddotvertical{
position: absolute;
z-index: 5;
margin-top: 19px;
margin-left: 106px;
}
.ellipse{
  position: absolute;
  z-index: 1;
  margin: 14px 2px;
}
.gridsvg{
  position: absolute;
  z-index: 2;
}

.penphone{
  margin-top:27px;
  margin-left: 20px;
}

.bulbbubble{
  margin-top: 27px;
  margin-left: 20px;
}

.heartstar{
  margin-top:27px;
  margin-left: 17px;
}
.content h1{
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  text-align: left;
  margin-left: 2px;
  margin-top: 69px;
  margin-bottom: 0px;
}

.content h3{
  width: 940px;
  height: 57px;
  font-size: 17px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: left;
  margin-top: 26px;
  margin-bottom: 35px;
}

.cell h2{
  margin-left: 80px;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato", sans-serif;
  font-weight: 800;
  text-align: left;
}
.cell p{
  margin-left: 80px;
  width: 219px;
  height: 128px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato", sans-serif;
  text-align: left;
}

.footercontainer{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .footercontent{
    width: 940px;
    height: 728px;
  }


  .footercontent h1{
    margin-top: 65px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
  }

  .footercontent h2{
    margin-top: 27px;
    margin-bottom: 11px;
    width: 940px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
  }

  .footercontent h3{
    font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin-top: 68px;
  margin-left: 2px;
  margin-bottom: 29px;
  }
  
  .footercontent h4{
    width: 940px;
    height: 80px;
    font-size: 17px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
  }
  .portfolio{
    background-color: #2d303a;
  }
 
  
  .footerheader{
    height: 859px;
    margin: 0px;
  }

  .footercontent menu{
    padding-left: 0px;
    margin: 0px;
  }
  
  .menuButton{
    display: inline-block;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #666d89;
    padding: 0px 7px;
    margin-right: 3px;
    cursor: pointer;
  }
  
  .menuButton:hover{

    color: #dedede !important;
    border: 1px solid #c5c5c5 !important;
  }

  .galeryGrid{
    padding-top: 18px;
    display: grid;
    grid-template-columns: 222px 222px 222px 222px;
    grid-template-rows: 190px 190px 190px;
    overflow: hidden;
    grid-column-gap: 18px;
    grid-row-gap: 18px;
  }
  
  .footercell{
    width: 222px;
    height: 190px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .img{
    transition: transform 0.6s ease;
  }
  .img:hover{
    opacity: 0.3;
  }
  
  .about{
    height: 728px;
    background-color: #f2f2f2;
  }
  
  .footerGrid{
    display: grid;
    grid-template-columns: 320px 320px 320px;
  }
  
.specialist p{
  width: 300px;
  height: 44px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}

.specialist h5{
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
  margin-left: 0px;
  margin-top: 15px;
  margin-bottom: 13px;
}

  .workLinks{
    display: flex;
  
  }
  
  .littleellipse{
    position: absolute;
    z-index: 1;
  }
  
  .linkImg{
    display: inline-block;
    height: 32px;
    width: 32px;
    margin-top: 8px;
    margin-right: 8px;
  }
  
  .linkImg:hover{
    opacity: 0.3;
  }
  
  .facebook{
    position: relative;
    margin: 8px 12px;
    z-index: 2;
  }
  
  .google{
    position: relative;
    margin: 9px 10px;
    z-index: 2;
  }
  
  .twitter{
    position: relative;
    margin: 9px 9px;
    z-index: 2;
  }
  
  .linkedin{
    position: relative;
    margin: 8px 10px;
    z-index: 2;
  }
  
  .quotecontainer{
    width:100%;
    margin: 0px;
    background-color: #f06c64;
    display: flex;
    justify-content: center;
  }
  
  .quotecontent{
    width: 940px;
    height: 648px;
  }
  
  .quotecontent h3 {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-top: 67px;

  }
  
  .quotecontent h2{
    width: 940px;
    height: 88px;
    font-size: 17px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: left;
  }
  
  .inputcontainer{
    width: 620px;
    height: 383px;
    display: flex;
    flex-direction: column;
  }
  
  .vacancyblock{
    display: flex;
  }
  
  .contactcontainer{
    margin: 0px 20px;
    width: 320px;
    height: 370px;
  }
  
  .contactimg{
    margin: 1px;
  }

  .contactcontainer h1{
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 0px;
  }
  
  .contactcontainer p{
    width: 300px;
    height: 75px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    margin-top: 10px;
  }

  .contactcontainer h2{
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    height: 15px;
    margin: 0px 5px;
  }

  .contactlink{
    display: flex;
    margin-bottom: 2px;
    cursor: pointer;
  }
  .inputblock{
    width:620px;
    border-radius: 5px;
    border-color: #d6564f;
    background-color: #d6564f;
    margin-bottom: 16px;
  }
  
  .inputblock input{
    border: none;
    background-color: #d6564f;
    width:600px;
    margin-top: 7px;
    margin-left: 15px;
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
  }

  .sumbit{
    width: 620px;
    border-radius: 5px;
    border-color: hsl(9, 62%, 74%);
    background-color: hsl(9, 62%, 74%);
    margin-bottom: 16px;
    margin-top: 185px;
    font-family: "Lato";
    color:  #f06c64;
}

  
  input::-webkit-input-placeholder { color:  #f48c8f; }
  
  .pinput{
    height: 204px;
  }
  
  .linput{
    height: 38px;
  }
  
  .infobox{
    width:320;
    height: 165px;
    display: block;
    margin-top: 33px;
  }
  .infobox div{
    height: 20px;
    width: 320px;
    margin-left: 1px;
  }
  

  .companyfooter{
    width:100%;
    background-color: #2d303a;
    display: flex;
    justify-content: center;
    height: 78px;
  }
 footer .by{
   margin-top: 10px;
   width: 940px;
   background-color: #2d303a;
   display: flex;
   justify-content: space-between;
 }

 .by p{
  font-size: 12px;
  line-height: 6px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  margin: 23px 1px;
  width: 200px;
 }

 .by footer{
  width: 200px;
  position: relative;
  left: 28px;
  top: 2px;
 }
 @media only screen 
 and (max-device-width: 1019px)
 and (min-device-width: 768px) {
  #verticalmodel{
    margin-left: 119px;
  }
  #horizontalmodel{
    margin-left: 0px;
  }
  .model{
    transform: scale(0.75);
  }
  .grid{
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    grid-row-gap: 24px;
    grid-column-gap: 0px;
  }
  .content h3{
    width: 714px;
    height: 59px;
  }
  .footercontent h4{
    width: 635px;
  }
  .footerGrid{
    right: 100px;
    position: relative
  }
  .about{
    height:620px;
  }
  .galeryGrid{
    padding-top: 18px;
    display: grid;
    grid-template-columns: 222px 222px 222px;
    grid-template-rows: 190px 190px 190px 190px;
    overflow: hidden;
    grid-column-gap: 18px;
    grid-row-gap: 18px;
  }
  .footerGrid{
    transform: scale(0.75);
  }
  .footercontent{
    width: 768px;
    height: 832px;
  }
  .footerheader{
    height: 1048px;
  }
  .quotecontent{
    width: 768;
    height: 525px;
  }
  .quotecontent h2{
    width: 690px;
  }
  .inputcontainer{
    width: 470px;
  }
  .inputblock{
    width: 470px;
  }
  .inputblock input{
    width: 440px;
  }
  .pinput{
    height: 120px;
  }
  .sumbit{
    width: 470px;
    margin-top: 96px;
  }
  .content{
    width : 768px;
  }
  .svipercontainer{
    width : 768px;
  }
  .transporter{
    right: 980px;
  }
  footer .by{
   width: 768px;
  }
 }
 @media only screen 

 and (max-device-width: 767px){
  .transporter {
    right: 860px;
    zoom: 0.33;
  }
  .content h3 {
    width: 376px;
  }
  .grid{
    grid-template-columns: 375px;
    grid-template-rows: 114px 114px 114px 114px 114px 114px;
  }
  .sviper {
    margin-top: 74px;
}
  .svipercontainer {
    width: 365px;
}
  .content h1{
    font-size: 45px;
  }
  .content h3{
    font-size: 27px;
    height: 233px;
  }
   .header{
     justify-content: center;
   }
  .header menu{
    display: none;
  }
  .menubuttons{
    display: block;
    font-size: 24px;  
    margin: 50px 5px;
  }
  .menulink{
    font-size: 24px !important;
  }
  #homebutton{
    margin-left: 12px;
    font-size: 24px;
    text-align: left;

  }
  .content{
    width: 375px;
  }
  .svipercontainer{
    width:335px;
  }
  .mycontainer{
    height: 180px;
  }
  .servises {
    height: 1100px;
  }
  .footercontent {
    width: 375px;
  }
  .footercontent {
    width: 375px;
  }
  .galeryGrid {
    grid-template-columns: 125px 125px;
    grid-column-gap: 69px;
    grid-row-gap: 0px;
    grid-template-rows: 165px 165px 165px 165px 165px 165px;
  }
  .footercell {
    zoom: 0.8;
  }
  .portfolio{
    height: 1215px;
  }
  .footercontent h2{
    width: 375px;
  }
  .footercontent{
    height: 1000px;
  }
  .footercontent h4{
    width: 375px;
    height: 160px;
  }
  .about{
    height: 1700;
  }
  .footerGrid{
    grid-template-columns: 375px;
    grid-row-gap: 25px;
  }
  .quotecontent h2 {
    width: 375px;
  }
  .quotecontent{
    width: 375px;
  }
  .vacancyblock{
    flex-direction: column;
  }
  .inputblock {
    width: 375px;
  }
  .inputblock input{
    width: 350px;
  }
  .sumbit{
    width: 375px;
  }
  .contactcontainer {
    margin: 50px 20px;
  }
  .quotecontent {
    height: 860px;
  } 
  footer .by {
    width: 375px;
  }
 }
