@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
  border: 0px;
  margin: 0px;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.portfolio{
  height: 870px;
  background-color: #2d303a;
}
.content{
  width: 980px;
  margin: 0 auto;
}

.header{
  height: 870px;
}

.menuButton{
  display: inline-block;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  border-radius: 5px;
  border: 1px solid #666d89;
  padding: 7px;
  margin-right: 10px;
}

.menuButton:hover{
  font-size: 12px;
  line-height: 22px;
  color: #dedede;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  border-radius: 5px;
  border: 1px solid #c5c5c5;
}
h1{
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}

h2{
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
}

h3{
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}

h4{
  width: 940px;
  height: 57px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
}
h5{
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato";
  font-weight: 900;
  text-align: left;
}
p{
  width: 300px;
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
}
menu{
  padding: 0px;
}

.galeryGrid{
  display: grid;
  grid-template-columns: 224px 224px 224px 224px;
  grid-template-rows: 190px 190px 190px;
  overflow: hidden;
  grid-column-gap: 17px;
  grid-row-gap: 17px;
}

.cell{
  width: 224px;
  height: 190px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img:hover{
  opacity: 0.3;
}

.bottom{
  width: 100%;
  height: 6px;
  background-color: #323746;
}

.about{
  height: 728px;
  background-color: #f2f2f2;
}

.footerGrid{
  display: grid;
  grid-template-columns: 320px 320px 320px;
  grid-row: 445px;
  grid-column-gap: 20px;
}

.workLinks{
  display: flex;

}

.ellipse{
  position: absolute;
  z-index: 1;
}

.linkImg{
  display: inline-block;
  height: 32px;
  width: 32px;
  margin: 8px
}

.linkImg:hover{
  opacity: 0.3;
}

.facebook{
  position: relative;
  margin: 8px 12px;
  z-index: 2;
}

.google{
  position: relative;
  margin: 9px 10px;
  z-index: 2;
}

.twitter{
  position: relative;
  margin: 9px 9px;
  z-index: 2;
}

.linkedin{
  position: relative;
  margin: 8px 10px;
  z-index: 2;
}
